<link href="C:/project/Knowledge/frontend/src/app/app.component.css" rel="stylesheet" type="text/css">
<header>
  <ul id="left-nav">
    <li><a href="">DASHBOARD</a></li>
  </ul>

  <ul id="right-nav">
    <li><a href="">SERVICES</a></li>
    <li><a href="">CONTACT</a></li>
    <li><a href="">ABOUT US</a></li>
  </ul>
</header>
<br>
<br><br><br><br>
<style>
  {
    box-sizing:border-box;
  }
  .child
  {
    border:5px solid blue;
    float:left;
    width:400px;
    height:400px;
  }
</style>
<section>
  <section class="child";
           DATA1
           </section>
  <section class="child";
           DATA2
           </section>
</section>
{{title}}
